.pokemonCard {
  border: 2px solid;
  border-radius: 8px;
  height: 160px;
  width: 140px;
  background-size: 82%;
  background-repeat: no-repeat;
  background-position: 50% 35%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  &__idHolder {
    text-align: right;
    padding: 3px 10px 0 0;
    font-size: 12px;
  }

  &__dpHolder {
    height: 120px;
  }

  &__nameHolder {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    height: 20%;
  }
}